.page-header {
    border-bottom: 1px solid #eee;
    height: 64px;
    line-height: 64px;
}
.page-footer {
    border-top: 1px solid #eee;
    height: 64px;
    line-height: 64px;
    text-align: center;
}